html {
	scroll-behavior: smooth;
}

.navbar {
	background-color: rgba(0,0,0,0.8);
	opacity: 0.1;
	position: fixed;
	width: 100%;
	z-index: 1;
	color: #f3f3f3;
	/*visibility: hidden;*/
}

.navbar:hover {
	opacity: 1;
}

.navspace {
	padding-top: 100px;
}

.landing-page {
	background-image: url(../images/building.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;	
	height: 100vh;
}

#home {
	height: 100vh;
	padding-top: 15vh;
}

.rounded-circle {
	width: 30%;
}

#about {
	height: 100vh;
}

.about-content {
	height: 50vh;
	padding-top: 5vh;
	/*background-color: yellow;*/
}

.about-subcontent {
	height: 50vh;
}

#fa-i {
    font-size: 1.5rem;
}

#fa-ii {
    font-size: 5rem;
}

.about-content .progress-bar {
	width: 100%;
	background-color: green;
}

#projects {
	height: 100vh;
}

#projects > .proj-content {
	padding-top: 15vh;
}

#contact {
	height: 100vh;
	padding-top: 15vh;
}

#contact > .social {
	height: 15vh;
	/*background-color: red;*/
}

#contact > .fb-i > a {
	color: #3b5998;
}

#contact > .gh-i > a {
	color: #333;
}

#contact > .gl-i > a {
	color: #fc6d26;
}

#contact > .li-i > a {
	color: #4875B4;
}

footer {
	background-color: #333;
	color: #f3f3f3;
	position: relative;
	bottom: 0;
}


/*MOBILE SCREEN*/
@media only screen and (max-width: 400px){

	* {
		font-size: .8rem;
	}

	.navbar, .navbar:hover {
		opacity: 1;
	}

	.home-content {
		position: relative;
		top: 10%;
	}

	#about {
		height: 100vh;
	}

	.about-content {
		height: 35vh;
	}

	.about-subcontent {
		height: 25vh;
	}

	#projects {
		height: 300vh;
	}

}

/*TABLET SCREEN */
@media only screen and (min-width: 401px) and (max-width: 960px){

	* {
		font-size: .9rem;
	}

	.navbar, .navbar:hover {
		opacity: 1;
	}

	.home-content {
		position: relative;
		top: 15%;
	}

	#about {
		height: 125vh;
	}

	.about-content {
		height: 45vh;
	}

	.about-subcontent {
		height: 40vh;
	}

	#projects {
		height: 350vh;
	}


}